
/* hmtl tag selectors */
body {
    z-index: 2;
    background-color:rgb(162, 165, 173);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 38px;
    color: #000;
    text-align: center;
    text-decoration: underline;
    background-color: rgb(164, 187, 195);
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    width: 300px;
    padding: 10px 10px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(39, 20, 18);
    
}

/* Background color and border for boxes*/
h4, footer {
    background: rgb(164, 187, 195);
    border: 2px solid black;
    padding: 15px;
    background-clip: padding-box;
    border-radius: 10px;
    width: 250px;
    color: black;  
}

footer {
    margin: 20px auto;
    text-align: center;
    width: fit-content; 
}

footer:hover{
    background-color:#A2B7CF;
}
li, ul, ol, dl {
    color: rgb(39, 20, 18);
    line-height: 200%;
}

a {
    text-decoration: none;
}
/*table styling*/
table {
    width: 50%;
    margin: 40px auto;
    
}
tr td th {
    padding: 10px;
}
td {
    padding: 10px;
}
caption {
    font-size: 2em; 
    padding: 10px; 
    background-color: #A2B7CF;
    color: black;
    border: 2px solid black;
    border-bottom: none;
}
th {
    padding: 10px;
    background-color: rgb(164, 187, 195);
}
tr:nth-child(even) {
    background-color:#A2B7CF;
}

/*test comment*/ 

#navigation {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 100px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 30px 25px;
    min-width: 10px;
    border-right: black solid 2px; 
    height: 400px;
    margin-left: 5px;
    margin-right: 10px;
    list-style-type: none;
    color: slategray;
}
#centerDoc {
    position: absolute;
    z-index: 15;
    padding: 0 0 20px 20px;
    margin-top: 50 px;
    margin-left: 150px;
    margin-right: 30px;
    width: 80%;
    max-width: 1200px;
    min-width: 400px;
}
#navigation a:link, a:visited  {
    color: #000; 
    text-decoration: none; 
    background-color: #A2B7CF;
    padding: 5px;
    border-radius: 10px;
    display: block;
    width: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    transition: margin-bottom .35s ease-in;
    }   
    
    /* mouse over link */
    #navigation a:hover { 
    text-decoration: none; 
    background-color: #A2B7CF;
    padding: 5px;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 35px;
    
    } 
    
    /* selected link */
    a:active { color: green; font-weight: bold;}

    /* for center doc links to keep them uniform with the page */

    #centerDoc a:link  {
        color: blue;
        text-decoration: underline;
        background-color: rgb(162, 165, 173);
        padding: 2px;
        background-color: transparent;
    }   
    #centerDoc a:visited { 
        color: blue;
        text-decoration: underline;
        background-color: rgb(162, 165, 173);
        padding: 2px;
        background-color: transparent;
    }
    #centerDoc a:hover { 
        color: #ff0000;
        text-decoration: underline;
        background-color:  rgb(162, 165, 173);
        padding: 2px;
        background-color: transparent;
    } 
    